<h1>Update Owner</h1>

<form action="/owners/<%=@owner.id%>" method="POST">
  <label>Name:</label>

  <br></br>

  <input type="text" name="owner[name]" value="<%=@owner.name%>">

  <br></br>

  <label>Choose an existing pet:</label>

  <br></br>

  <%Pet.all.each do |pet|%>
    <input type="checkbox" name="owner[pet_ids][]" value="<%=pet.id%>" <%='checked' if @owner.pets.include?(pet) %>><%=pet.name%></input>
  <%end%>

  <br></br>

  <label>and/or, create a new pet:</label>
  <br></br>
  <label>name:</label>
    <input  type="text" name="pet[name]"></input>
  <br></br>
  <input type="submit" value="Create Owner">
</form>