<h1>Update Pet</h1>

<form action="/pets/<%=@pet.id%>" method="POST">
  <label>Name:</label>

  <br></br>

  <input type="text" name="pet[name]" value="<%=@pet.name%>">

  <br></br>

  <label>Choose an existing owner:</label>

  <br></br>

  <%Owner.all.each do |owner|%>
    <input type="checkbox" name="pet[owner_ids][]" value="<%=pet.id%>" <%='checked' if @pets.owners.include?(owner) %>><%=owner.name%></input>
  <%end%>

  <br></br>

  <label>and/or, create a new owner:</label>
  <br></br>
  <label>name:</label>
    <input  type="text" name="owner[name]"></input>
  <br></br>
  <input type="submit" value="Create Pet">
</form>